#### tuple

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
l = []

In [4]:
type(l)

list

In [5]:
t1 = (324,343,2,"khan",45.445)

In [6]:
t1

(324, 343, 2, 'khan', 45.445)

In [7]:
type(t1)

tuple

In [8]:
t1[1] #we can parse thought tuple

343

In [9]:
t1[-1]

45.445

In [10]:
t1[:-1]

(324, 343, 2, 'khan')

In [11]:
t1

(324, 343, 2, 'khan', 45.445)

In [12]:
t1[::-1]

(45.445, 'khan', 2, 343, 324)

In [13]:
# not much diffreneces between tuple and lsit inform of getting data or resersing it

In [14]:
l= [23234,"khan",34.3,True]

In [15]:
l[0]

23234

In [16]:
l[0] = "shayan" #index wise i can change it in list
#list is mutable

In [17]:
l

['shayan', 'khan', 34.3, True]

In [18]:
t2 = ("khan",232,3.4,False)
t2

('khan', 232, 3.4, False)

In [19]:
t2[0]

'khan'

In [20]:
t2[0] = "shayan" # it mean tuple are immutable i can not change

TypeError: 'tuple' object does not support item assignment

In [21]:
t1

(324, 343, 2, 'khan', 45.445)

In [22]:
t2

('khan', 232, 3.4, False)

In [23]:
t1+t2 # so we see tuple can do append but the location will be different not same

(324, 343, 2, 'khan', 45.445, 'khan', 232, 3.4, False)

In [24]:
t1 * 2

(324, 343, 2, 'khan', 45.445, 324, 343, 2, 'khan', 45.445)

In [25]:
t1

(324, 343, 2, 'khan', 45.445)

In [26]:
323 in t1

False

In [27]:
324 in t1

True

In [28]:
33 in t2

False

In [29]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [30]:
t3 = (23,454,65676,7)
max(t3)   # it mean only numerical data it can work

65676

In [31]:
t4 = ("khan","shayan","berlin")
max(t4) # it mean it work only if all are strings

'shayan'

In [32]:
t1

(324, 343, 2, 'khan', 45.445)

In [33]:
t1.count(2)  # in tuple only when we press tab can get two built in functions

1

In [34]:
t1.index(2) # it will only give index of first element not the repeated

2

In [35]:
min(t1)# it will not do comparision between int and strings

TypeError: '<' not supported between instances of 'str' and 'int'

In [36]:
min(t3)# as we saw it only can give comparision of only int

7

In [37]:
#converting tuple into list then we will append or do other operations
t1

(324, 343, 2, 'khan', 45.445)

In [38]:
t6 = (34,45)
t1 + t6

(324, 343, 2, 'khan', 45.445, 34, 45)

In [39]:
t7 = 100
ls = list(t1)
ls.insert(4,t7) #convert first tuple into list and then insert on specific index use .insert

In [40]:
ls

[324, 343, 2, 'khan', 100, 45.445]

In [41]:
t9 = ((2,343),(343,4,5))

In [42]:
t9  # we can creat tuple inside tuple

((2, 343), (343, 4, 5))

In [43]:
t9 = ((2,343),(343,4,5),[342,5,6]) # list into tuple inside

In [44]:
t9[2][0]  # grabing or slicing data element in tuples

342

In [45]:
for i in t9:
    print(i)

(2, 343)
(343, 4, 5)
[342, 5, 6]

In [46]:
for i in t9: #task get the first tuple data in tuple
    if type(i) == tuple:
        print(i[0])

2
343

In [47]:
t1

(324, 343, 2, 'khan', 45.445)

In [48]:
t2

('khan', 232, 3.4, False)

In [49]:
# task: if the lenght of both tuples are same or not t1 and t2
if len(t1)==len(t2):
    print("its same")
else:
    print("its not same")

its not same

In [50]:
t= (234,43,True,"khan")

In [51]:
t

(234, 43, True, 'khan')

In [52]:
t= (234,43,True,"khan")
i = input("enter ur data")

if i in t:
    print("its avalible")
else:
    print("no its not avalible")

enter ur data
no its not avalible

In [53]:
t

(234, 43, True, 'khan')

In [54]:
l

['shayan', 'khan', 34.3, True]

In [55]:
l2 = [23,34,5]
del(l2) # it delete all the l2 list

In [56]:
m=(2,3,4,5,"khan")

In [57]:
del(m)# so tuple can be delete also

#### Set { } # it is a collection which will give u distinct element in collection not duplicates

In [58]:
x = set()

In [59]:
type(x)

set

In [60]:
l = [22,22,34,34,"khan","shayan","khan","books"]

In [61]:
s = set(l)

In [62]:
s

{22, 34, 'books', 'khan', 'shayan'}

In [63]:
for i in s :
    print(i)

khan
34
22
shayan
books

In [64]:
34 in s

True

In [65]:
s[0]# indexing operation can not be perfom in set

TypeError: 'set' object is not subscriptable

In [66]:
# set will not give you ordered data by its defination sometimes it 
#looks like but actually its not
s

{22, 34, 'books', 'khan', 'shayan'}

In [67]:
s = set()

In [68]:
s.add(44)
s

{44}

In [69]:
s.add("shayan")
s

{44, 'shayan'}

In [70]:
# set can not take nested list but it can only take unwrape list

In [71]:
s.add([23,34,5])

TypeError: unhashable type: 'list'

In [72]:
s.remove(44)

In [73]:
s

{'shayan'}

In [74]:
44 in s

False

In [75]:
s.clear() # it clear all the data of set

In [76]:
s

set()

In [77]:
 s.add("khan")

In [78]:
s.add(23)

In [79]:
s.add(3435)

In [80]:
s

{23, 3435, 'khan'}

In [81]:
s1 = set()

In [82]:
s + s1 #  * +   these operations are not allowed into set

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [83]:
s

{23, 3435, 'khan'}

In [84]:
l4 = list(s)

In [85]:
l4.append(77777)

In [86]:
l4

['khan', 3435, 23, 77777]

In [87]:
t4 = tuple()

In [88]:
set(t)

{234, 43, True, 'khan'}